<mat-toolbar-row class="toolbar-user">
    &nbsp;
    <mat-icon>event</mat-icon>
    &nbsp;
    <span>DATOS DEL EVENTO</span>
    <span class="example-spacer"></span>
</mat-toolbar-row>
<br/>
<div *ngFor="let image of event.resources">
    <img style="margin-left: 25%;" width="50%" height="10%" [src]="image.url"> 
</div> 
<br />
<br />
<mat-card><b>Nombre del evento:</b> {{event.name}}</mat-card>
<mat-card><b>Descripcion:</b> {{event.information}}</mat-card>
<mat-card><b>Fecha inicio:</b> {{event.start_date}}</mat-card>
<mat-card><b>Fecha Fin:</b> {{event.end_date}}</mat-card>
<mat-card><b>Lugar:</b> {{event.place}}</mat-card>
<mat-card><b>Estado:</b> {{event.state=='private'?'Privado':'Publico'}}</mat-card>

