.mat-form-field{
    width: 100% !important;
}
.bt-add{
    margin-left: 38%;
}

.bt-add{
    margin-left: 32%;
}
.mat-form-field{
    width: 100% !important;
}
.toolbar-user{
    background: #01509F;
    color: white;
    height: 35px;
}
.sl-permission{
    margin: 2%;
}