<svg style="position: absolute;" width="320" height="150" viewBox="0 0 210 120">
    <circle cx="10" cy="40" r="70" fill="#01509F" />
</svg>
<img src="assets/img/logoFiscalia.jpg" width="180" class="img-fisc">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title><img src="assets/img/Logo-SoFi_Vertical (1).png" width="100"></mat-card-title>
        </mat-card-header>
        <br /><br />
        <form [formGroup]="form" #frmDatos="ngForm" class="example-form" *ngIf="!continue">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Correo del usuario" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    formControlName="email" minlength="5" maxlength="30" required>
            </mat-form-field>
            <button mat-stroked-button class="btn-login" [disabled]="form.invalid" (click)="sendEmail()"> Enviar
                correo</button>
        </form>
      
        <form [formGroup]="formChange" #frmDatos="ngForm" class="example-form" *ngIf="continue">
            <mat-form-field class="example-full-width">  
                <input matInput placeholder="Codigo" formControlName="code"
                    maxlength="4" (keyup)="searchCode($event)" required >
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="continueChange">
                <input matInput placeholder="Nueva Contraseña" formControlName="password" minlength="6" maxlength="18"
                    required>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="continueChange">
                <input matInput placeholder="Repetir Contraseña" formControlName="confirmPassword" minlength="6"
                    maxlength="18" required>
            </mat-form-field>
            <button mat-stroked-button class="btn-login"  type="submit" 
                [disabled]="!(!formChange.invalid && formChange.value['password'] != null && formChange.value['confirmPassword'] != null  && formChange.value['password']==formChange.value['confirmPassword'] && formChange.value['password'].length>2)"
                (click)="changePassword()">Cambiar contraseña</button>
        </form>
    </mat-card>
</div>

<mat-sidenav-container>
    <router-outlet></router-outlet>
</mat-sidenav-container>