<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card-header>
    <mat-card-title>Añadir Notificación</mat-card-title>
  </mat-card-header>
  <br/><br/>
  <form [formGroup]="formNotification" #frmDatos="ngForm" class="example-form">
    
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="details" placeholder="Detalles" type="text" class="form-control" id="details"
        minlength="5" maxlength="90" required></textarea>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width">
      <input [min]="min"  matInput formControlName="date" placeholder="Fecha" type="date" class="form-control" id="date"
        minlength="5" maxlength="30" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-us">
      <mat-label>Evento</mat-label>
      <mat-select formControlName="event_id" required>
        <mat-option *ngFor="let event of events" [value]="event.id">
          {{event.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    &nbsp;
    <br />
    <br />
    <div class="bt-not">
      <button mat-raised-button class="bt-add" [disabled]="formNotification.invalid" (click)="add()">Agregar Notificación</button>
      &nbsp;
      <button mat-raised-button class="bt-cancel" (click)="cancel()">Cancelar proceso</button>
    </div>
    <br />
    <br />
  </form>
</div>