<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card-header>
    <mat-card-title>Añadir Notificación</mat-card-title>
  </mat-card-header>
  <br/><br/>
  <form [formGroup]="formNotification" #frmDatos="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="details" placeholder="Detalles" type="text" class="form-control" id="details"
        minlength="5" maxlength="90" pattern="[A-Za-z ]*" required></textarea>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width">
      <input matInput formControlName="date" placeholder="Fecha" type="date" class="form-control" id="date"
        minlength="5" maxlength="30" required>
    </mat-form-field>

    
    &nbsp;
    <br />
    <br />
    <div class="bt-not">
      <button mat-raised-button class="bt-add" (click)="add()">Agregar Notificación</button>
      &nbsp;
      <button mat-raised-button class="bt-cancel" (click)="cancel()">Cancelar proceso</button>
    </div>
    <br />
    <br />
  </form>
</div>