.main-content{
    margin: 5%;
}
.card-title{
    color: #00509F;
    margin-left: 40%;
}
.material-icons{
    color: #00509F;
}

.mat-header-cell {
    background-color: #01509F;
    color:white  !important; 
}
.buttons-user{
    margin-left: 85%;
}

.mat-cell{
    display: initial;
}

.item-list{
    height: 12px !important;
}
.mat-column-actions {
    flex: 0 0 18%;
}
.mat-column-id {
    flex: 0 0 5%;
}